<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kason.app.dao.CertificateMapper" >
  <resultMap id="BaseResultMap" type="com.kason.app.entity.Certificate" >
    <id column="cer_id" property="cerId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    cer_id, name, grade
  </sql>
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from certificate
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from certificate
    where cer_id = #{cerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from certificate
    where cer_id = #{cerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kason.app.entity.Certificate" useGeneratedKeys="true" keyProperty="cerId">
    insert into certificate (cer_id, name, grade
      )
    values (#{cerId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kason.app.entity.Certificate" useGeneratedKeys="true" keyProperty="cerId" >
    insert into certificate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cerId != null" >
        cer_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="grade != null" >
        grade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cerId != null" >
        #{cerId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kason.app.entity.Certificate" >
    update certificate
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
    </set>
    where cer_id = #{cerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kason.app.entity.Certificate" >
    update certificate
    set name = #{name,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR}
    where cer_id = #{cerId,jdbcType=INTEGER}
  </update>
</mapper>